<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kermi.market.userservice.mapper.CustomerLoginMapper" >
  <resultMap id="BaseResultMap" type="com.kermi.market.userservice.dao.CustomerLogin" >
    <constructor >
      <idArg column="customer_id" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="login_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="password" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="user_stats" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="modified_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    customer_id, login_name, password, user_stats, modified_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from customer_login
    where customer_id = #{customerId,jdbcType=CHAR}
  </select>
  <select id="selectByLoginName" parameterType="java.lang.String" resultType="string">
    SELECT login_name FROM customer_login WHERE login_name=#{login_name}
  </select>
  <select id="querySelective" resultMap="BaseResultMap" parameterType="com.kermi.market.userservice.dao.CustomerLogin">
    select
    <include refid="Base_Column_List" />
    from customer_login
    WHERE 1=1
    <if test="customerId != null">
        and customer_id=#{customerId,jdbcType=CHAR}
    </if>
    <if test="loginName != null" >
        and login_name=#{loginName,jdbcType=VARCHAR}
    </if>
    <if test="password != null" >
      and password=#{password,jdbcType=CHAR}
    </if>
    <if test="userStats != null" >
      and userStats=#{userStats,jdbcType=TINYINT}
    </if>
    <if test="modifiedTime != null" >
      and modifiedTime=#{modifiedTime,jdbcType=TIMESTAMP}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from customer_login
    where customer_id = #{customerId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.kermi.market.userservice.dao.CustomerLogin" >
    insert into customer_login (customer_id, login_name, password, 
      user_stats, modified_time)
    values (#{customerId,jdbcType=CHAR}, #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=CHAR}, 
      #{userStats,jdbcType=TINYINT}, #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kermi.market.userservice.dao.CustomerLogin" >
    insert into customer_login
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="userStats != null" >
        user_stats,
      </if>
      <if test="modifiedTime != null" >
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerId != null" >
        #{customerId,jdbcType=CHAR},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=CHAR},
      </if>
      <if test="userStats != null" >
        #{userStats,jdbcType=TINYINT},
      </if>
      <if test="modifiedTime != null" >
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kermi.market.userservice.dao.CustomerLogin" >
    update customer_login
    <set >
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=CHAR},
      </if>
      <if test="userStats != null" >
        user_stats = #{userStats,jdbcType=TINYINT},
      </if>
      <if test="modifiedTime != null" >
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where customer_id = #{customerId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kermi.market.userservice.dao.CustomerLogin" >
    update customer_login
    set login_name = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=CHAR},
      user_stats = #{userStats,jdbcType=TINYINT},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where customer_id = #{customerId,jdbcType=CHAR}
  </update>
</mapper>