<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kermi.market.marketevent.mapper.ProductInfoMapper" >
  <resultMap id="BaseResultMap" type="com.kermi.market.marketevent.pojo.ProductInfo" >
    <constructor >
      <idArg column="product_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="product_core" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="product_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bar_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="brand_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="one_category_id" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="two_category_id" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="three_category_id" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="supplier_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="average_cost" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="publish_status" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="audit_status" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="weight" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="length" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="height" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="width" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="color_type" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="production_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="shelf_life" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="indate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="modified_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.kermi.market.marketevent.pojo.ProductInfo" >
    <constructor >
      <idArg column="product_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="product_core" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="product_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bar_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="brand_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="one_category_id" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="two_category_id" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="three_category_id" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="supplier_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="average_cost" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="publish_status" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="audit_status" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="weight" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="length" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="height" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="width" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="color_type" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="production_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="shelf_life" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="indate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="modified_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="descript" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    product_id, product_core, product_name, bar_code, brand_id, one_category_id, two_category_id, 
    three_category_id, supplier_id, price, average_cost, publish_status, audit_status, 
    weight, length, height, width, color_type, production_date, shelf_life, indate, modified_time
  </sql>
  <sql id="Blob_Column_List" >
    descript
  </sql>

  <select id="findAllProductInfo" resultMap="BaseResultMap">
    SELECT * FROM product_info
  </select>

  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from product_info
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_info
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kermi.market.marketevent.pojo.ProductInfo" >
    insert into product_info (product_id, product_core, product_name, 
      bar_code, brand_id, one_category_id, 
      two_category_id, three_category_id, supplier_id, 
      price, average_cost, publish_status, 
      audit_status, weight, length, 
      height, width, color_type, production_date, 
      shelf_life, indate, modified_time, 
      descript)
    values (#{productId,jdbcType=INTEGER}, #{productCore,jdbcType=CHAR}, #{productName,jdbcType=VARCHAR}, 
      #{barCode,jdbcType=VARCHAR}, #{brandId,jdbcType=INTEGER}, #{oneCategoryId,jdbcType=SMALLINT}, 
      #{twoCategoryId,jdbcType=SMALLINT}, #{threeCategoryId,jdbcType=SMALLINT}, #{supplierId,jdbcType=INTEGER}, 
      #{price,jdbcType=DECIMAL}, #{averageCost,jdbcType=DECIMAL}, #{publishStatus,jdbcType=TINYINT}, 
      #{auditStatus,jdbcType=TINYINT}, #{weight,jdbcType=REAL}, #{length,jdbcType=REAL}, 
      #{height,jdbcType=REAL}, #{width,jdbcType=REAL}, #{colorType,jdbcType=CHAR}, #{productionDate,jdbcType=TIMESTAMP}, 
      #{shelfLife,jdbcType=INTEGER}, #{indate,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP}, 
      #{descript,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kermi.market.marketevent.pojo.ProductInfo" >
    insert into product_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productCore != null" >
        product_core,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="barCode != null" >
        bar_code,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="oneCategoryId != null" >
        one_category_id,
      </if>
      <if test="twoCategoryId != null" >
        two_category_id,
      </if>
      <if test="threeCategoryId != null" >
        three_category_id,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="averageCost != null" >
        average_cost,
      </if>
      <if test="publishStatus != null" >
        publish_status,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="length != null" >
        length,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="colorType != null" >
        color_type,
      </if>
      <if test="productionDate != null" >
        production_date,
      </if>
      <if test="shelfLife != null" >
        shelf_life,
      </if>
      <if test="indate != null" >
        indate,
      </if>
      <if test="modifiedTime != null" >
        modified_time,
      </if>
      <if test="descript != null" >
        descript,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productCore != null" >
        #{productCore,jdbcType=CHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="barCode != null" >
        #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="oneCategoryId != null" >
        #{oneCategoryId,jdbcType=SMALLINT},
      </if>
      <if test="twoCategoryId != null" >
        #{twoCategoryId,jdbcType=SMALLINT},
      </if>
      <if test="threeCategoryId != null" >
        #{threeCategoryId,jdbcType=SMALLINT},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="averageCost != null" >
        #{averageCost,jdbcType=DECIMAL},
      </if>
      <if test="publishStatus != null" >
        #{publishStatus,jdbcType=TINYINT},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=TINYINT},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=REAL},
      </if>
      <if test="length != null" >
        #{length,jdbcType=REAL},
      </if>
      <if test="height != null" >
        #{height,jdbcType=REAL},
      </if>
      <if test="width != null" >
        #{width,jdbcType=REAL},
      </if>
      <if test="colorType != null" >
        #{colorType,jdbcType=CHAR},
      </if>
      <if test="productionDate != null" >
        #{productionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="shelfLife != null" >
        #{shelfLife,jdbcType=INTEGER},
      </if>
      <if test="indate != null" >
        #{indate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="descript != null" >
        #{descript,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kermi.market.marketevent.pojo.ProductInfo" >
    update product_info
    <set >
      <if test="productCore != null" >
        product_core = #{productCore,jdbcType=CHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="barCode != null" >
        bar_code = #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="oneCategoryId != null" >
        one_category_id = #{oneCategoryId,jdbcType=SMALLINT},
      </if>
      <if test="twoCategoryId != null" >
        two_category_id = #{twoCategoryId,jdbcType=SMALLINT},
      </if>
      <if test="threeCategoryId != null" >
        three_category_id = #{threeCategoryId,jdbcType=SMALLINT},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="averageCost != null" >
        average_cost = #{averageCost,jdbcType=DECIMAL},
      </if>
      <if test="publishStatus != null" >
        publish_status = #{publishStatus,jdbcType=TINYINT},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=TINYINT},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=REAL},
      </if>
      <if test="length != null" >
        length = #{length,jdbcType=REAL},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=REAL},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=REAL},
      </if>
      <if test="colorType != null" >
        color_type = #{colorType,jdbcType=CHAR},
      </if>
      <if test="productionDate != null" >
        production_date = #{productionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="shelfLife != null" >
        shelf_life = #{shelfLife,jdbcType=INTEGER},
      </if>
      <if test="indate != null" >
        indate = #{indate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="descript != null" >
        descript = #{descript,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kermi.market.marketevent.pojo.ProductInfo" >
    update product_info
    set product_core = #{productCore,jdbcType=CHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      bar_code = #{barCode,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=INTEGER},
      one_category_id = #{oneCategoryId,jdbcType=SMALLINT},
      two_category_id = #{twoCategoryId,jdbcType=SMALLINT},
      three_category_id = #{threeCategoryId,jdbcType=SMALLINT},
      supplier_id = #{supplierId,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      average_cost = #{averageCost,jdbcType=DECIMAL},
      publish_status = #{publishStatus,jdbcType=TINYINT},
      audit_status = #{auditStatus,jdbcType=TINYINT},
      weight = #{weight,jdbcType=REAL},
      length = #{length,jdbcType=REAL},
      height = #{height,jdbcType=REAL},
      width = #{width,jdbcType=REAL},
      color_type = #{colorType,jdbcType=CHAR},
      production_date = #{productionDate,jdbcType=TIMESTAMP},
      shelf_life = #{shelfLife,jdbcType=INTEGER},
      indate = #{indate,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      descript = #{descript,jdbcType=LONGVARCHAR}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kermi.market.marketevent.pojo.ProductInfo" >
    update product_info
    set product_core = #{productCore,jdbcType=CHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      bar_code = #{barCode,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=INTEGER},
      one_category_id = #{oneCategoryId,jdbcType=SMALLINT},
      two_category_id = #{twoCategoryId,jdbcType=SMALLINT},
      three_category_id = #{threeCategoryId,jdbcType=SMALLINT},
      supplier_id = #{supplierId,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      average_cost = #{averageCost,jdbcType=DECIMAL},
      publish_status = #{publishStatus,jdbcType=TINYINT},
      audit_status = #{auditStatus,jdbcType=TINYINT},
      weight = #{weight,jdbcType=REAL},
      length = #{length,jdbcType=REAL},
      height = #{height,jdbcType=REAL},
      width = #{width,jdbcType=REAL},
      color_type = #{colorType,jdbcType=CHAR},
      production_date = #{productionDate,jdbcType=TIMESTAMP},
      shelf_life = #{shelfLife,jdbcType=INTEGER},
      indate = #{indate,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
</mapper>