<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kermi.market.userservice.dao.ProductCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.kermi.market.userservice.dao.ProductCategory" >
    <constructor >
      <idArg column="category_id" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="category_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="category_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="parent_id" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="category_level" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="category_status" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="modified_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    category_id, category_name, category_code, parent_id, category_level, category_status, 
    modified_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from product_category
    where category_id = #{categoryId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from product_category
    where category_id = #{categoryId,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="com.kermi.market.userservice.dao.ProductCategory" >
    insert into product_category (category_id, category_name, category_code, 
      parent_id, category_level, category_status, 
      modified_time)
    values (#{categoryId,jdbcType=SMALLINT}, #{categoryName,jdbcType=VARCHAR}, #{categoryCode,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=SMALLINT}, #{categoryLevel,jdbcType=TINYINT}, #{categoryStatus,jdbcType=TINYINT}, 
      #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kermi.market.userservice.dao.ProductCategory" >
    insert into product_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
      <if test="categoryCode != null" >
        category_code,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="categoryLevel != null" >
        category_level,
      </if>
      <if test="categoryStatus != null" >
        category_status,
      </if>
      <if test="modifiedTime != null" >
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        #{categoryId,jdbcType=SMALLINT},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryCode != null" >
        #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=SMALLINT},
      </if>
      <if test="categoryLevel != null" >
        #{categoryLevel,jdbcType=TINYINT},
      </if>
      <if test="categoryStatus != null" >
        #{categoryStatus,jdbcType=TINYINT},
      </if>
      <if test="modifiedTime != null" >
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kermi.market.userservice.dao.ProductCategory" >
    update product_category
    <set >
      <if test="categoryName != null" >
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryCode != null" >
        category_code = #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=SMALLINT},
      </if>
      <if test="categoryLevel != null" >
        category_level = #{categoryLevel,jdbcType=TINYINT},
      </if>
      <if test="categoryStatus != null" >
        category_status = #{categoryStatus,jdbcType=TINYINT},
      </if>
      <if test="modifiedTime != null" >
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where category_id = #{categoryId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kermi.market.userservice.dao.ProductCategory" >
    update product_category
    set category_name = #{categoryName,jdbcType=VARCHAR},
      category_code = #{categoryCode,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=SMALLINT},
      category_level = #{categoryLevel,jdbcType=TINYINT},
      category_status = #{categoryStatus,jdbcType=TINYINT},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where category_id = #{categoryId,jdbcType=SMALLINT}
  </update>
</mapper>